# Terraform
*.tfstate
*.tfstate.backup
.terraform/
terraform.tfvars
terraform.tfvars.json
crash.log
override.tf
override.tf.json
.terraform.lock.hcl

# IDE / OS files
.vscode/
.DS_Store
Thumbs.db

# Nested projects
**/BXL-Kamkar4-2025-cloud-project1-cloud-team-project-1/